services:
  mud:
    build:
      context: .
      args:
        UID: ${UID:-1000}
        GID: ${GID:-1000}
        DRIVER_REPO: https://github.com/ldmud/ldmud.git
        DRIVER_BRANCH: master
        PYTHON_REPO: https://github.com/bengibollen/ldmud-python.git
        PYTHON_BRANCH: main
      extra_hosts:
        - "sbmud:127.0.0.1"
    hostname: sbmud
    container_name: sbmud
    ports:
      - "4040:4040"
      - "4041:4041/udp"
    volumes:
      - .:/mud/sblib
    dns:
      - 8.8.8.8
      - 8.8.4.4
    dns_search:
      - .
